.result {
    padding-top: 130px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.finalScore {
    text-align: center;
}

.usernameBox,
.save {
    display: flex;
    justify-content: center;
    margin: 3px;
    border-radius: 5px;
}

.container {
    max-width: 500px;
}